<!DOCTYPE html>
<html>
<head>
    <title>Questions</title>
    <link rel="stylesheet" href="css/answers.css">
</head>
<body>
    <% questions.forEach((question, index) => { %>
        <h2>Question <%= index + 1 %>:</h2>
        <p><%= question.question %></p>
        <ul>
          <% question.choices.forEach(choice => { %>
            <li><%= choice.answer %></li>
          <% }) %>
        </ul>
        <p><strong>Correct answer(s):</strong> <%= question.correctAnswers.join(', ') %></p>
      <% }) %>
</body>
</html>
