<!DOCTYPE html>
<html>

<head>
    <title>Answers</title>
    <link rel="stylesheet" href="css/answers.css">
</head>

<body>
    <h1>Answers:</h1>
    <ul>
        <% for (const [index, answer] of answers.entries()) { %>
            <li>Question <%= index + 1 %>: <%= answer %>
            </li>
            <% } %>
    </ul>
</body>

</html>