<!DOCTYPE html>
<html>
    <head>
        <title>Kahoot Solver</title>
        <link rel="stylesheet" href="css/stylesheet.css">
    </head> 
    <body>
        <form action="/kahoot" method="post">
            <h1>Kahoot Solver</h1>
            <input id="kahoot" name="kahoot" type="text" value="" placeholder="Place quizid from kahoot link" size="21">
            <input type="submit" value="Send">
        </form>
    </body>
</html>
